.samarkan {
  font-family: 'Samarkan', sans-serif;
}

.caveat-brush {
  font-family: 'Caveat Brush', sans-serif;
}

/*============================ Lato Font family ======================*/
.lato {
  font-family: 'Lato', sans-serif;
}

.lato-bold {
  font-family: 'Lato Bold', sans-serif;
}

/*============================ Montserrat Font family ======================*/
.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.montserrat-bold {
  font-family: 'Montserrat Bold', sans-serif;
}

/*============================ Roboto_Condensed Font family ======================*/
.roboto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}

.roboto-condensed-bold {
  font-family: 'Roboto Condensed Bold', sans-serif;
}

/*============================ Raleway Font family ======================*/
.raleway {
  font-family: 'Raleway', sans-serif;
}

.raleway-bold {
  font-family: 'Raleway Bold', sans-serif;
}

/*============================ Noto Sans Font family ======================*/
.noto-sans {
  font-family: 'Noto Sans', sans-serif;
}

.noto-sans-bold {
  font-family: 'Noto Sans Bold', sans-serif;
}
